.App {
  text-align: center;
  font-weight: bold;
  background: rgb(167, 216, 167);
  padding: 2%;
}

.user-card{
  width: 60%;
  border: 3px solid black;
  border-radius: 10%;
  background: lightskyblue;
  margin: 1% 19.5%;
  padding: 1%;
  display: flex;
  align-items: center;
}

.user-card img{
  width: 40%;
  border-radius: 10%;
}

.user-details{
  text-align: left;
  margin: 5%;
  background: lightskyblue;
}

.follower-container{
  margin: 5%;
}

.follower-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.follower-card{
  width: 300px;
  border: 3px solid black;
  border-radius: 10%;
  background: lightskyblue;
  margin: 2% 0;
  padding: 1%;
  display: flex;
  align-items: center;
}

.follower-card img{
  width: 50%;
  border-radius: 10%;
}

.follower-details{
  margin: 2%;
  text-align: left;
  background: lightskyblue;
}

select {
  background: white;
}

button {
  background:darkgreen;
  color: lightskyblue;
  border-radius: 10%;
}